<body>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">TCMS </a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="index.html">Home</a>
              </li>
              <li>
               
                <a routerLink="/client"> Client</a>
              </li>
              <li>
                <a href="Project.html">Project</a>
              </li>
              <!-- <li>
                <a href="Reporting.html">Reporting </a>
              </li> -->
            </ul>
          </div>
             
        </nav>
<br />
<div class="container">
  
 <div class="card" style="width:400px">
    <img class="card-img-top" src="/assets/images/happy.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Sam Bill</h4>
      <p class="card-text">This is a test </p>
      <p style ="color:red">Project: <span style="color:blue">Coffee show</span></p>
     
    </div>
    <br />
  </div>
  <!-- <br /> 
   <div class="card" style="width:400px">
    <img class="card-img-top" src="/assets/images/happy.jpg" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Sam Bills</h4>
      <p class="card-text">Thisis a test </p> -->
     

   
  </div>
</body>