<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">TCMS </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="index.html">Home</a>
          </li>
          <li>
           
            <a routerLink="/client"> Client</a>
          </li>
          <li>
            <a href="Project.html">Project</a>
          </li>
          <li>
            <a href="Reporting.html">Reporting </a>
          </li>
        </ul>
      </div>
         
    </nav>
    <router-outlet></router-outlet>
      <h1 style="color:indigo">WELCOME TO TCMS Portal</h1>
  
    <blockquote>
  
        <p style="color:indigo">
          <b > Welcome to TurnTable Client Management System Portal. Navigate on our page for an awesome Experience</b>
        </p>
    </blockquote>
  
      <img src="./assets/images/happy.jpg" height="400px" width="800px" alt="happy face" />
  
    
      
  </body>
  <br />
    