<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">TCMS </a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#">Client</a> </li>
          <li><a href="#">Project</a> </li>
          <li><a href="#html">Reports </a></li>
        </ul>
      </div>
    </nav>
    
    <h1 style="color:black"><b>Valued Client Page</b></h1>
    <a routerLink="/clientlist" class="btn btn-info btn-lg " role="button">List of Client</a>
 <a href="deleteclient.html" class="btn btn-danger btn-lg" role="button">Delete client</a>
<a routerLink="/addclient" class="btn btn-warning btn-lg" role="button">Add Client</a>
<a href="#" class="btn btn-primary btn-lg" role="button ">Search for Client</a>

<br />
<img src="./assets/images/client.jpg" height="400px" width="650px"/>
</body>


<!-- <a  routerLink="/client">client page </a> 
<router-outlet></router-outlet> -->
<router-outlet></router-outlet>